/**
 * Site header
 */
.site-header {
  /*background: #2a2c2d;*/
}

.site-title{
  color:$grey-color-dark;
  background: url("../img/logo_smplyon_h.png") no-repeat no-repeat center left;
  padding-left: 120px;
}

a, a:hover{
  color:#00BCD4;

  &:visited{
    color:$brand-color-dark;
  }
}



.post-content {
  h2{
    color:#E91E63;
  }

  h3{
    margin-top: 10px;
  }
}

.site-footer {
  h2{
    color:$grey-color;
  }
}



details{
  background: #eef2f4;
  margin : 14px 0;
  padding : 8px
}

details[open]{
  background: #f0f0f0;
}
summary:focus{
  outline:none;
}